/* site.css */

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text],
input[type=password],
textarea {
    width: 150px;
}

#main {
    background-color: #eee;
    padding: 4px;
    margin: 0;
}

#footer {
    background-color: #222;
    color: #eee;
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.headshot {
    max-width: 50px;
    border: 1px solid #222;
    padding: 3px;
}

.menu {
    font-size: 12px;
}

.menu li {
    list-style-type: none;
}

.menu li.active {
    font-weight: bold;
}

#sidebar {
    background-color: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 200px;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: left ease .25s;
}

#sidebar img {
    width: 50px;
    margin-left: 15px;
    text-decoration: none;
}

#wrapper {
    margin: 0 0 0 200px;
    -webkit-transition: left ease .25s;
    -moz-transition: left ease .25s;
    transition: margin-left ease .25s;
}

#sidebar.hide-sidebar {
    left: -200px;
    -webkit-transition: left ease .25s;
    -moz-transition: left ease .25s;
    transition: left ease .25s;
}

#wrapper.hide-sidebar {
    margin-left: 0;
    -webkit-transition: left ease .25s;
    -moz-transition: left ease .25s;
    transition: left ease .25s;
}

#wait_indicator {
    background-color: #fff;
}

#selector {
    width: 20%;
}

#map {
    background-color: #fff;
    height: 800px;
    width: 80%;
    line-height: 0;
    margin-top: 0;
    margin-left: 0;
}

.body {
    display: table;
}