<!DOCTYPE html> {%load static%}
<html lang="en">

<head>
    <title>
        GEOTRACK::{%block title%}{%endblock%}
    </title>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css'%}">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-yxFy3Tt84CcGRj9UI7RA25hoUMpUPoFzcdPtK3hBdNgEGnh9FdKgMVM+lbAZTKN2" crossorigin="anonymous">
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>

<body>
    <div id="sidebar">

        <a href="{%url 'index'%}"><img src="{% static 'images/maze.png' %}" /></a>
        <ul class="menu">
            <li><a href="{%url 'index'%}">Home</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{%url 'login'%}">Login</a></li>
            <li><a href="{%url 'register'%}">Register for an Account</a></li>
            {%endif%} {% if user.is_staff %}
            <li><a href="{%url 'approvals'%}">Approvals</a></li>
            {%endif%} {% if user.is_authenticated %}
            <li><a href="{%url 'viewlocations'%}">View Locations</a></li>
            <li><a href="{%url 'closemyaccount'%}">Close my Account</a></li>
            <li><a href="{%url 'logoutuser'%}">Logout</a></li>
            {%endif%}
            <li><a href="{%url 'about'%}">About</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
              <i class="fa fa-angle-left"></i>
            </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">The World</a> {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                    <li>
                        <a href="{%url 'logoutuser'%}" class="btn btn-sm btn-info">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </li>
                </ul>
                {%endif%}
            </div>
        </nav>
        <div id="main" ng-app="geotracker">


            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{message.tags|title}}!</strong> {{message}}</div>
            {% endfor %} {% endif %} {% block body %} {% endblock %}

            <div id="footer">
                &copy; 2015 Zahir Jacobs. Location data is stored outside South Africa on servers beyond my control. Apart from your randomly generated username, no other identifiable information is stored (including the email address your gave upon registration.)
            </div>
        </div>
        <script text="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
        <script text="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script text="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
        <script text="text/javascript" src="{% static 'js/site.js' %}"></script>
        {%block scripts%} {%endblock%}
</body>

</html>